/* Reset some default styles */

/* Set the global background color */
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}
body {
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
